:root {
  --cm-backgroundColor: var(--sb-editor-backgroundColor, var(--sb-bg-depth-1));
  --cm-textColor: var(--sb-editor-textColor, var(--sb-textPrimary));

  /* Gutter */

  --cm-gutter-backgroundColor: var(--sb-editor-gutter-backgroundColor, var(--cm-backgroundColor));
  --cm-gutter-textColor: var(--sb-editor-gutter-textColor, var(--sb-textSecondary));
  --cm-gutter-activeLineTextColor: var(--sb-editor-gutter-activeLineTextColor, var(--cm-gutter-textColor));

  /* Fold Gutter */

  --cm-foldGutter-textColor: var(--sb-editor-foldGutter-textColor, var(--cm-gutter-textColor));
  --cm-foldGutter-textColorHover: var(--sb-editor-foldGutter-textColorHover, var(--cm-gutter-textColor));

  /* Active Line */

  --cm-activeLineBackgroundColor: var(--sb-editor-activeLineBackgroundColor, rgb(224 231 235 / 30%));

  /* Cursor */

  --cm-cursor-width: 2px;
  --cm-cursor-backgroundColor: var(--sb-editor-cursorColor, var(--sb-textSecondary));

  /* Matching Brackets */

  --cm-matching-bracket: var(--sb-editor-matchingBracketBackgroundColor, rgb(50 140 130 / 0.3));

  /* Selection */

  --cm-selection-backgroundColorFocused: var(--sb-editor-selection-backgroundColor, #42b4ff);
  --cm-selection-backgroundOpacityFocused: var(--sb-editor-selection-backgroundOpacity, 0.3);
  --cm-selection-backgroundColorBlured: var(--sb-editor-selection-inactiveBackgroundColor, #c9e9ff);
  --cm-selection-backgroundOpacityBlured: var(--sb-editor-selection-inactiveBackgroundOpacity, 0.3);

  /* Panels */

  --cm-panels-borderColor: var(--sb-editor-panels-borderColor, var(--sb-borderColor));

  /* Search */

  --cm-search-backgroundColor: var(--sb-editor-search-backgroundColor, var(--cm-backgroundColor));
  --cm-search-textColor: var(--sb-editor-search-textColor, var(--sb-textSecondary));
  --cm-search-closeButton-backgroundColor: var(--sb-editor-search-closeButton-backgroundColor, transparent);

  --cm-search-closeButton-backgroundColorHover: var(
    --sb-editor-search-closeButton-backgroundColorHover,
    var(--sb-item-backgroundActive)
  );

  --cm-search-closeButton-textColor: var(
    --sb-editor-search-closeButton-textColor,
    var(--sb-item-contentDefault)
  );

  --cm-search-closeButton-textColorHover: var(
    --sb-editor-search-closeButton-textColorHover,
    var(--sb-item-contentActive)
  );

  --cm-search-button-backgroundColor: var(
    --sb-editor-search-button-backgroundColor,
    var(--sb-item-backgroundDefault)
  );

  --cm-search-button-backgroundColorHover: var(
    --sb-editor-search-button-backgroundColorHover,
    var(--sb-item-backgroundActive)
  );

  --cm-search-button-textColor: var(--sb-editor-search-button-textColor, var(--sb-textSecondary));

  --cm-search-button-textColorHover: var(
    --sb-editor-search-button-textColorHover,
    var(--sb-textPrimary)
  );

  --cm-search-button-borderColor: var(--sb-editor-search-button-borderColor, transparent);
  --cm-search-button-borderColorHover: var(--sb-editor-search-button-borderColorHover, transparent);

  --cm-search-button-borderColorFocused: var(
    --sb-editor-search-button-borderColorFocused,
    var(--sb-borderColorActive)
  );

  --cm-search-input-backgroundColor: var(--sb-editor-search-input-backgroundColor, transparent);
  --cm-search-input-textColor: var(--sb-editor-search-input-textColor, var(--sb-textPrimary));
  --cm-search-input-borderColor: var(--sb-editor-search-input-borderColor, var(--sb-borderColor));

  --cm-search-input-borderColorFocused: var(
    --sb-editor-search-input-borderColorFocused,
    var(--sb-borderColorActive)
  );

  /* Tooltip */

  --cm-tooltip-backgroundColor: var(--sb-editor-tooltip-backgroundColor, var(--cm-backgroundColor));
  --cm-tooltip-textColor: var(--sb-editor-tooltip-textColor, var(--sb-textPrimary));

  --cm-tooltip-backgroundColorSelected: var(
    --sb-editor-tooltip-backgroundColorSelected,
    theme('colors.alpha.accent.30')
  );

  --cm-tooltip-textColorSelected: var(
    --sb-editor-tooltip-textColorSelected,
    var(--sb-textPrimary)
  );

  --cm-tooltip-borderColor: var(--sb-editor-tooltip-borderColor, var(--sb-borderColor));

  --cm-searchMatch-backgroundColor: var(--sb-editor-searchMatch-backgroundColor, rgba(234, 92, 0, 0.33));
}

html[data-theme='light'] {
  --sb-editor-gutter-textColor: #237893;
  --sb-editor-gutter-activeLineTextColor: var(--sb-textPrimary);
  --sb-editor-foldGutter-textColorHover: var(--sb-textPrimary);
  --sb-editor-activeLineBackgroundColor: rgb(50 53 63 / 5%);
  --sb-editor-tooltip-backgroundColorSelected: theme('colors.alpha.accent.20');
  --sb-editor-search-button-backgroundColor: theme('colors.gray.100');
  --sb-editor-search-button-backgroundColorHover: theme('colors.alpha.gray.10');
}

html[data-theme='dark'] {
  --cm-backgroundColor: var(--sb-bg-depth-2);
  --sb-editor-gutter-textColor: var(--sb-textTertiary);
  --sb-editor-gutter-activeLineTextColor: var(--sb-textSecondary);
  --sb-editor-selection-inactiveBackgroundOpacity: 0.3;
  --sb-editor-activeLineBackgroundColor: rgb(50 53 63 / 50%);
  --sb-editor-foldGutter-textColorHover: var(--sb-textPrimary);
  --sb-editor-matchingBracketBackgroundColor: rgba(66, 180, 255, 0.3);
  --sb-editor-search-button-backgroundColor: theme('colors.gray.800');
  --sb-editor-search-button-backgroundColorHover: theme('colors.alpha.white.10');
}
